:root {
    --color-blue: #027dfa;
}

@theme inline {
    --font-poppins: "Poppins", sans-serif;

    /*  colors */

    --color-blueBg: var(--color-blue);
    --color-ellipseBlue: var(--color-blue);
}
