:root {
    --color-blue: #027dfa;
    --color-dark: #181818;
    --color-ellipse: rgba(2, 125, 250, 0.4);
}

@theme inline {
    --font-poppins: "Poppins", sans-serif;

    /*  colors */
--color-textBlue: var(--color-blue);
    --color-blueBg: var(--color-blue);
    --color-blueBorder: var(--color-blue);
    --color-darkText: var(--color-dark);
    --color-ellipseBlue: var(--color-ellipse);

    /* respons */
    --breakpoint-xxl: 90rem;
}
